<!--<div>-->
<!--  <mat-card *ngFor="let res of loadStarship(name)" class="card" >-->
<!--  <mat-card class="card" *ngIf="starship">-->
<!--    <mat-card-title>StarWar Details</mat-card-title>-->
<!--    <mat-card-subtitle>Name of Manufacturer {{starship.name}}</mat-card-subtitle>-->
<!--    <mat-card-subtitle>Pokemon Height: {{}}</mat-card-subtitle>-->
<!--    <mat-card-subtitle>Pokemon Weight: {{}}</mat-card-subtitle>-->

<!--    <button mat-stroked-button color="warn" routerLink="/evolution/{{pokemonData.id}}">Evolution</button>-->

<!--  </mat-card>-->
<!--</div>-->

